.bank-account-details-view {
    height: 240px;
    width: 1000px;
    padding: 10px;
}

.bank-account-details-view td {
    padding: 5px;
}

.bank-account-details-view-label {
    font-weight: bold;
    width: 115px;
}

.bank-account-details-view-acc-details {
    font-weight: bold;
    font-size: 25px;
}