.opening-bank-account-view {    
    height: 300px;
    width: 1420px;
    padding: 10px;
}

/* *********************************************************************************** */

.opening-bank-account-view button {    
    top: 250px;
}

.opening-bank-account-view #save-btn {
    left: 65px;      
}

.opening-bank-account-view #reset-btn {
    left: 1075px;
}