.popup-dialog {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.popup-dialog-content {
    position: absolute;
    left: 500px;
    top: 100px;
    background: white;
    width: 450px;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
}

/* *********************************************************************************** */

.popup-dialog button {    
    top: 140px;
}

.popup-dialog #popup-dialog-action {
    left: 105px;     
}