.searching-in-bank-accounts-view {
    height: 125px;
    width: 670px;
    padding: 10px;
}

/* *********************************************************************************** */

.searching-in-bank-accounts-view button {    
    top: 90px;
}

.searching-in-bank-accounts-view #search-btn {   
    left: 20px;   
}

.searching-in-bank-accounts-view #reset-btn {    
    left: 375px;
}