button {
    position: absolute;
    padding: 10px 20px;
    width: 275px;
    cursor: pointer;
    border-radius: 5px;    
    color: white;
    font-weight: bold;
}

/* *********************************************************************************** */

input {
    height: 25px;
    width: 300px;
    border-radius: 4px; 
    border: 1px solid #CCCCCC;
}

/* *********************************************************************************** */

.tabular-layout {
    font-size: 16px;
    color: #343A40;
    border: 2px solid #343A40;
    border-radius: 5px;
    padding: 5px;
}