header {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 75px;
    background: #343A40;
}

#nav-bar-options {
    position: absolute;
    left: 150px;
    list-style-type: none;
    margin: 0px;
}

#nav-bar-options li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    height: 50px;
    padding-top: 25px;
    padding-right: 16px;
    padding-left: 16px;
    cursor: pointer;
}

nav a:hover {
    background: #E30B5C;
}

/* *********************************************************************************** */
/* Styling of crud-operations-submenu */

#dropdown-menu {
    display: none;
    position: absolute;
    left: 120px;
    top: 75px;
    list-style-type: none;
    padding: 0px;
    background: #f1f1f1;
    z-index: 1;
}

#dropdown-menu a {
    color: #343A40;
    text-decoration: none;
    border-bottom: 2px solid white;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    width: 144px;
    text-align: left;
}

#dropdown-menu a:hover {
    background: #ddd;
    color: #FF7F50;
}

/* *********************************************************************************** */

main {
    position: absolute;
    left: 0px;
    top: 75px;
    width: 100%;
    height: auto;
    background: white;
}

#notification-area {
    position: absolute;
    left: 15px;
    top: 10px;    
    width: 1475px;
    height: auto;
    padding: 8px 16px;
    border-radius: 5px;
}

#content-area {
    position: absolute;
    left: 15px;
    top: 90px;
}

/* *********************************************************************************** */

footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 75px;
    background: #343A40;
}