.updating-bank-account-view {
    height: 230px;
    width: 1420px;
    padding: 10px;
}

/* *********************************************************************************** */

.updating-bank-account-view button {    
    top: 180px;
}

.updating-bank-account-view #update-btn {  
    left: 65px;  
}

.updating-bank-account-view #reset-btn {    
    left: 1075px;
}